<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.springboot.demo.mapper.mall.StorageListMapper">
    <insert id="insertStorage">
        insert into cskaoyan_mall_storage (keyword,name,typeword,size,url,add_time,update_time)
        values (#{storage.key}, #{storage.name}, #{storage.type}, #{storage.size}, #{storage.url}, #{storage.addTime}, #{storage.updateTime})
    </insert>
</mapper>